{{#if auth}}


<h2>O Nome do Carro:{{user.name}} Ano fabric: {{user.age}} Cor: {{user.cor}} Potencia: {{user.potencia}} Marca: {{user.marca}} Motor {{user.motor}} </h2>

<a href="/">Home</a>
<a href="/users/add">Novo Usuário</a>
{{/if}}