<h2>O Produto é {{user.name}} Fornecedor {{user.fornecer}} Valor da Compra{{user.valorcompra}}  Valor da Venda {{user.valovenda}} e Data de Compra {{user.datacompra}}  Categoria{{user.func}}</h2>

<a href="/">Home</a>
<a href="/users/add">Novo Usuário</a>
